$fonts-src: '../assets/fonts';

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('#{$fonts-src}/OpenSans-Regular.ttf');
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.link {
  color: #2636CA;
  cursor: pointer;
}
#app {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
}
.button {
  background: #071ac3;
  border: none;
  width: 100%;
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  color: #fafafa;
  cursor: pointer;
}
.bg {
  &-gray {
    background: #eeeeee;
  }
}
.bold {
  font-weight: bold;
}
.text-left {
  text-align: left;
}
.text-rigth {
  text-align: right;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  display: flex;
  flex-direction: column;
}
.aic {
  align-items: center;
}
.jcc {
  justify-content: center;
}
.ais {
  align-items: flex-start;
}